/* Ogólne style */
body {
    background-color: #121212; /* Ciemne tło */
    color: #ffffff; /* Biały tekst */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1.section-title, h2.section-title {
    color: #ff4c4c; /* Czerwony kolor tytułów */
}

/* Car container */
.car-container {
    padding: 20px;
}

.car-details {
    background-color: #1f1f1f; /* Ciemne tło dla sekcji detali samochodu */
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.car-details p {
    margin: 10px 0;
    color: #ffffff; /* Kolor tekstu na biały */
}

.car-details strong {
    color: #ff4c4c; /* Czerwony kolor dla etykiet */
}

/* Linki i przyciski */
button {
    background-color: #ff4c4c; /* Czerwony przycisk */
    color: #ffffff; /* Biały tekst przycisku */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #cc3b3b; /* Ciemniejszy czerwony przycisk po najechaniu */
}

a {
    color: #ff4c4c; /* Czerwony link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Styl dla h1 - ładna ramka i efekt */
h1 {
    background-color: #1f1f1f; /* Ciemne tło dla nagłówka */
    color: #ff4c4c; /* Czerwony kolor tekstu */
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #ff4c4c; /* Czerwona ramka */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lekki cień wokół nagłówka */
    font-size: 2em; /* Większa czcionka */
    text-align: center; /* Wyśrodkowanie tekstu */
    margin: 20px 0; /* Odstępy wokół nagłówka */
}
